
@font-face {
	font-family: 'ZevidaDemo'; 
	src: url(../assets/fonts/ZevidaDemo.ttf); 
}
.about{
    width: 70%;
    margin: 0;
    padding: 0 1.5rem 1.5rem 1.5rem;
    overflow-x: auto;
}
.about__info{
  width: calc(100% + 1.5rem);
  top:0;
  position: sticky;
  z-index: 2;
  background: rgb(36, 37, 90);
  margin: 0 0 1rem 0;
  border: 2px solid rgb(36, 37, 90);
}
.about__border{
  position: relative;
  margin-bottom: 6rem;
}
.about__border:after {
  content: "";
  background: rgb(227, 227, 227);
  position: absolute;
  bottom: -3rem;
  right: -2.5rem;
  width: calc(100% + 2.5rem);
  height: 1rem;
}
.about__name{
   font-size: 3.8rem;
   color: #FFFFFF; 
}
.about__specifity{
 font-size: 2.5rem;  
  color: rgb(227, 227, 227); 
  margin-bottom: 4rem; 
}
.about__title_article{
  font-size: 3rem;

  font-size: "ZevidaDemo";
}
.about__biography{
  padding-top: 1rem;
  font-size: 1.6rem;
}
.about__hobby{
  position: relative;
  width: 100%;
  height: 500px;
}
.about__worktime{
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding-bottom: 1rem;
  color:#FF0000
}
.about__placework{
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: bolder;
  color:rgb(36, 37, 90);
}
