@font-face {
	font-family: 'ZevidaDemo'; 
	src: url(./assets/fonts/ZevidaDemo.ttf); 
}
@font-face {
	font-family: 'Zimra'; 
	src: url(./assets/fonts/Zimra-Regular.otf); 
}

*{
    margin:  0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zimra";
}

body{
    background: linear-gradient(90deg, #b9deed, #efefef);
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main{
    max-width: 1440px;
    height: calc(100% - 80px);
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: linear-gradient(to bottom, rgb(70, 71, 174) 150px, #FFFFFF 0%);
    padding: 30px;
}
@media screen and (max-width:1440px) {
    main{
        max-width: 90vw;
    }
    
}